* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;
  background-color: #fff8f0;
  color: #392f5a;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: large;
  font-weight: bold;
  text-align: justify;
}
a {
  text-decoration: none;
}

footer {
  display: inline-block;
  padding: 1rem;
}
footer h3 {
  display: grid;
  text-align: center;
}

section {
  scroll-margin-top: 50px;
  margin: 2rem 0;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff8811;
  height: 9rem;
  color: #392f5a;
  position: sticky;
}

li {
  display: inline-block;
  font-size: 2rem;
  padding: 2rem;
}
li img {
  width: 3rem;
  height: 3rem;
}

.btn {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  padding: 0.5rem 1rem;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
}

.mobileView {
  display: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

ul.responsive {
  display: inline-block;
  background-color: #fff8f0;
  top: 70px;
  width: auto;
  max-width: 20rem;
  padding: 1rem;
  border-radius: 5px;
}

ul.responsive li {
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}
.heroImage {
  background-image: url(./media/hero.jpg);
  height: 40rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroText {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff8f0;
  height: 100%;
}

button img {
  width: 3rem;
  height: 3rem;
}

#logoMG {
  margin: 2rem;
  width: 15rem;
  height: 20rem;
}
.grid-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 4rem, 4rem, 4rem;
  text-align: center;
}

.project-item {
  display: flex;
  width: 20rem;
  height: 20rem;
  justify-content: center;
  margin: 0 auto;
}

#project1,
#project2,
#project3 {
  margin: 1rem;
}

.project-item img {
  width: 20rem;
  height: 15rem;
  padding: 1rem;
}

.aboutMeTitle {
  display: grid;
  grid-column: 1 / span 4;
  grid-row: 2;
  background-color: #9dd9d2;
  justify-content: center;
}

.aboutMeTitle img {
  height: 10rem;
  width: 10rem;
}

.photo {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  justify-self: left;
  margin: 2rem;
}

.textAbout {
  display: inline-block;
  grid-column: 3;
  grid-row: 2;
  text-align: justify;
}

.skillTittle {
  display: flex;
  grid-column: 1;
  grid-row: 3;
  justify-self: left;
  justify-content: center;
  text-align: center;
  padding-left: 12rem;
}

.skill-item,
.skill-item2 {
  width: 5rem;
  height: 5rem;
}

.skill-item img,
.skill-item2 img {
  padding: 2rem;
  width: 10rem;
  height: 10rem;
}

#skill1,
#skill2,
#skill3,
#skill4 {
  display: inline-block;
  grid-column: 1;
  grid-row: 3;
  justify-self: right;
  margin: 1rem;
}

#battery1 img,
#battery2 img {
  padding: 2rem;
  width: 10rem;
  height: 10rem;
}

form {
  display: block;
  background-color: #9dd9d2;
  color: #392f5a;
  text-align: center;
  min-width: 100vw;
}

label {
  padding: 12px 12px 12px 0;
  display: block;
}

input {
  padding: 12px;
  border-radius: 4px;
  background-color: #fff8f0;
}
textarea {
  width: 10rem;
  height: 10rem;
  padding: 12px;
  border-radius: 4px;
  background-color: #fff8f0;
}
.submit {
  padding: 2rem;
}

.submit #button {
  background-color: #ff8811;
  width: 10rem;
}

.socialMedia {
  display: inline-block;
  grid-column: 3 / span 1;
  grid-row: 4;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem;
}

.socialMedia img {
  width: 5rem;
  height: 5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span 4;
  grid-row: 4;
  background-color: #9dd9d2;
}

.gallery-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30rem 20rem 20rem;
  justify-content: center;
  text-align: center;
  min-width: 80vw;
  min-height: 80vh;
}

.gallery-grid img {
  height: 100%;
  width: 100%;
  filter: grayscale(60%);
}

.image1 {
  grid-row: 1 / span 3;
  grid-column: 1;
}

.image2 {
  grid-row: 1;
  grid-column: 2;
}

.image3 {
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
}

.image4 {
  grid-row: 2 / span 2;
  grid-column: 2;
}

.image5 {
  grid-row: 3;
  grid-column: 3;
}

.image6 {
  grid-row: 3;
  grid-column: 4;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 1200px) {
  body {
    display: inline-block;
    background-color: #fff8f0;
  }
  .project-item {
    display: inline-block;
  }

  nav ul {
    display: none;
  }

  .mobileView {
    display: flex;
    padding: 10rem;
    justify-content: center;
    align-items: center;
  }

  .skillTittle {
    padding: 1rem;
    margin-right: 10rem;
  }

  #backToTop {
    bottom: 1rem;
    right: 1rem;
  }

  ul.responsive {
    display: block;
    background-color: #fff8f0;
    top: 70px;
    width: 100%;
  }

  ul.responsive li {
    display: block;
    margin: 1rem;
  }
  .socialMedia {
    display: block;
  }

  .gallery-grid {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    justify-content: center;
  }

  .image1,
  .image2,
  .image3,
  .image4,
  .image5,
  .image6 {
    padding: 1rem;
    grid-row: auto;
    grid-column: auto;
    max-width: 80%;
    max-height: 80%;
    display: block;
  }

  #backToTop {
    margin: 2rem;
  }

  #project1 {
    text-align: center;
    display: block;
    justify-content: center;
  }

  .skill-item {
    margin: 2rem;
  }

  footer {
    max-width: 100%;
  }
}
